doctype html
html
  head
    meta charset='UTF-8'
    title Tarif plans
    link rel='stylesheet' href='css/app.css'
  body
    #tarifs
      .plan
        .title Plan 1
        .price
          | $10/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase
      .plan
        .title Plan 2
        .price
          | $10/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase
      .plan
        .title Plan 3
        .price
          | $30/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase
      .plan
        .title Plan 4
        .price
          | $40/
          span month
        .options
          .options-item
            | 2x
            span  option 1
          .options-item
            | Free
            span  option 2
          .options-item
            | Unlimited
            span  option 3
          .options-item
            | Unlimited
            span  option 4
          .options-item
            | 1x
            span  option 5
        .purchase
          .purchase-button Purchase