@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800,600italic,400italic,300italic,700italic,800italic);

$font-family: 'Open Sans', sans-serif;
$color-body-bg: #e2e2e2;
$color-white: #fff;
$color-text: #364762;
$color-text-grey: #979797;
$color-purchase-text: #364761;
$color-purchase-border: #40526d;
$color-orange: #f7814d;
$color-price-text-secondary: #8394ae;

body {
  background-color: $color-body-bg;
  font-family: $font-family;
  font-size: 16px;
}

#tarifs {
  max-width: 1016px;
  margin: 100px auto 0;
  .plan {
    width: 240px;
    margin: 15px 7px 0;
    height: 440px;
    float: left;
    text-align: center;
    color: $color-text;
    border-radius: 5px;
    background-color: $color-white;
    transition: all .3s;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.05);
      & .title {
        background-image: url('../img/tarifs-title-hover-bg.png');
        color: $color-white;
      }
      & .price, & .purchase-button {
        color: $color-white;
        background: $color-orange;
      }
      & .price span {
        color: $color-white;
      }
      & .purchase-button {
        border-radius: 4px;
      }
      & .purchase {
        border: none;
      }
    }
    .title {
      padding: 19px 0;
      font-size: 34px;
      font-weight: 300;
      border-radius: 5px 5px 0 0;
    }
    .price {
      color: $color-white;
      font-size: 16px;
      font-weight: 600;
      padding: 11px;
      background-image: url('../img/tarifs-price-bg.png');
      border-top: 1px $color-white solid;
      span {
        color: $color-price-text-secondary;
      }
    }
    .options {
      padding: 42px 0 21px;
      font-weight: 600;
      .options-item {
        height: 38px;
        span {
          color: $color-text-grey;
          font-weight: 400;
        }
      }
    }
    .purchase {
      width: 210px;
      margin: 0 auto;
      border-radius: 4px;
      border: $color-purchase-border 2px solid;
      .purchase-button {
        cursor: pointer;
        width: 100%;
        height: 20px;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
@import "media.scss";