@media only screen and (max-width: 1024px) {
  #tarifs {
    max-width: 540px;
  }
}

@media only screen and (max-width: 540px) {
  #tarifs {
    max-width: 280px;
  }
}

@media only screen and (max-width: 320px) {

}